.overlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 999;
}
.modalContainer {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  position: relative;
  padding: 4rem;
  border-radius: 0.8rem;
  z-index: 99999;
  box-shadow: 0 4px 30px 0 #ffffff40;
}
.closeBtnImg {
  width: 1.4rem;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
@media screen and (min-width: 200px) and (max-width: 399px){
  .modalContainer {
    width: 17rem;
    height: 25rem;
    padding: 2rem;
    border-radius:7% ;
    bottom:0px;
  }
  .closeBtnImg{
    width: 1.2rem;
    top: 10px;
    right:12px;
  }
}

@media screen and (min-width: 401px) and (max-width: 524px){
  .modalContainer {
    width: 17rem;
    height: 25rem;
    padding: 2rem;
    border-radius:7% ;
    bottom:0px;
  }
  .closeBtnImg{
    width: 1.2rem;
    top: 10px;
    right:12px;
  }
}
