.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; 
  }
  
  .errorContent {
    text-align: center;
  }
  
  .errorHeading {
    font-size: 2.5rem;
    color: #dc3545;
  }
  
  .errorMessage {
    font-size: 1.5rem;
    color: #343a40; 
    margin-top: 20px;
  }
  